<html>
    <head>
        <title>Enregistrement d'un livre</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>Enregistrement d'un livre</h1>
        <form action="./enregistrerLivre" method="post">
            <div class="col-3">
                <label for="titre">Titre du livre</label> <br>
                <input type="text" id="titre" name="titre" class="col-5"> <br>
                <label for="nom">Nom de l'auteur</label> <br>
                <input type="text" id="nom" name="nom" class="col-5"> <br>
                <label for="quantite">Nombre d'exemplaire</label> <br>
                <input type="number" id="quantite" name="quantite" class="col-5" min="0"><br>
            </div> <br>
            <button type="submit" class="btn">Envoyer</button>
        </form>
    </body>
</html>